html(ng-app="gruntExample")
	head
		title Grunt Example

		link(rel="stylesheet", type="text/css", href="./styles.css")

		// bower:js
		// endbower

		script(src="./app.js")

	body

		a(href="#foo") Foo
		&nbsp;
		a(href="#/bar/12345") Bar

		div(ng-view)
